body
{
background-color: #c41026;
}
.Principal
{
    background-color: #ffffff;
    padding: 1.5%;
    margin: 1.5%;
    border-radius: 25px;
    border: 10px solid #ff7b00;
    margin-bottom: 50%;
}
header
{
    background-color: #ff9839;
}
footer img
{
  width:100%
}
